body{
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
  font-size: 1.25rem;
}

.google-fonts{
  font-family: "Josefin Sans", sans-serif;
  text-shadow:2px 2px 2px gray;
  letter-spacing: 1.2em;
  border-bottom: solid 3px rgb(115, 115, 114);
  font-size: 2.5rem;
}

.text-pink{
  color:rgb(255, 192, 203);
}

.text-skyblue{
  color:skyblue; 
}

#basic p{
  font-weight: bold;
}
